<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../../static/img/playlist-solid-24-13.ico" type="image/x-icon">
    <script>
    console.log("Hola Mundo desde JS");
    </script>
    <title>NiciArt</title>
</head>
<body>
<header class="header"><!-- Inicio Header -->
            <nav class="navbar">
                <a href="../index.html">
                    <img src="../static/img/IMG-20240226-WA0024-de-leo.webp" id="logoNA">
                </a>
                
    
                <ul class="navbar_menu">
                        
                        <li class="list_item">
                            <div class="list_button">
                                <a class="navbar_link" href="../index.html">INICIO</a>
                            </div>
                            
                        </li>
                        <li class="list_item list_item--click">
                            <div class="list_button list_button--click">
                                <a class="navbar_link" href="#">NUESTROS PRODUCTOS</a>
                            </div>
                        
                            <ul class="list_show">
                                <li class="list_inside">
                                    <a href="jingles-music.html" class="navbar_link navbar_link--inside">Jingles Musicales</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="locuc-spots.html" class="navbar_link navbar_link--inside">Locuciones y Spots</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="artist-radio.html" class="navbar_link navbar_link--inside">Artística para radio</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="video.html" class="navbar_link navbar_link--inside">Video</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="music-audio.html" class="navbar_link navbar_link--inside">Música y audio</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="art-dis-dig.html" class="navbar_link navbar_link--inside">Arte y Diseño Digital</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="escr-redac.html" class="navbar_link navbar_link--inside">Escritura y Redacción</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="des-sit-web.html" class="navbar_link navbar_link--inside">Desarrollo de sitios Web</a> 
                                </li>
    
                                <li class="list_inside">
                                    <a href="gest-music.html" class="navbar_link navbar_link--inside">Gestión Musical</a> 
                                </li>
                            </ul>
                        </li>    
                        
                        <li class="list_item">
                            <div class="list_button">
                                <a class="navbar_link" href="contacto.html">CONTACTO</a>
                            </div>
                            
                        </li>
                    </ul>
            </nav>
      
            <!--<section>
                <ng-container *ngIf="!isLogged; else logueado">
                <button type="button" class="btn btn-outline-light" id="button" (click)="isLogged = true">INGRESAR</button>
                <a href="https://www.facebook.com/groups/440062772780528/search/?q=rocio%20chanampa/"><img src="../../assets/fotos/facebook.png" id="logoFace"></a>
                <a href="https://www.instagram.com/dulcedeliciarocio/"><img src="../../assets/fotos/instagram.png" id="logoInst"></a>
                </ng-container>
            
                <ng-template #logueado>
                <button type="button" class="btn btn-outline-light" id="button" (click)="isLogged = false">CERRAR</button>
                <a href="https://www.facebook.com/groups/440062772780528/user/100024393930038/"><img src="../../assets/fotos/facebook.png" id="logoFace"></a>
                <a href="https://www.instagram.com/dulcedeliciarocio/"><img src="../../assets/fotos/instagram.png" id="logoInst"></a>
                </ng-template>
            </section> 
            <section>
                <ng-container *ngIf ="['!isLogged']">
                    <button type="button" class="btn btn-outline-light" id1="button" (click)="isLogged = false">REGISTRARSE</button>
                    <button type="button" class="btn btn-outline-light" id2="button" (click)="isLogged = false">INGRESAR</button>
                </ng-container>
                <button type="button" class="btn btn-outline-light" id3="button" (click)="isLogged= true">CERRAR SESION</button>
            </section> -->
            
        </header> <!--   Fin Header -->
    <main>
        <secction></secction>
        <secction></secction>
    </main>
    <footer>
        <div class="footer_box" id="footer">
            <div class="it_footer">
                <div id="titulo_footer">
                    <a href="templates/contacto.html" class="link_title1"><b><h3>CONTACTO</h3></b></a>
            
                </div>
                        
                <div>
                    <a href="https://web.whatsapp.com/" class="link_title1">
                    <img src="../static/img/whatsapp_footer.png" alt="" id="logo-whatssap1">+54-9-3876020058
                    </a>
                </div>
                <div>
                    <a href="mailto:raqgeronimo@hotmail.com" class="link_title1">
                    <img src="../static/img/mensajes_copia_footer.png" alt="" id="logo-mail1">raqgeronimo@hotmail.com
                    </a>
                </div>
            </div>
        
            <p>© 2024 NiciArt. Todos los derechos reservados.</p>
                        
            <div class="redes_sociales">
                <a href="https://www.facebook.com/NiciArtdigital">
                    <img src="../static/img/facebook_footer.png" id="logoFace">
                </a>
                <a href="https://www.instagram.com/niciartagencia/?hl=es">
                    <img src="../static/img/instagram_footer.png" id="logoInst">
                </a>
                <a href="https://www.youtube.com/@niciartproductora">
                    <img src="../static/img/social_footer.png" id="logoYouTube">
                </a>
            </div>
        </div>
</footer>
</body>
</html>